# Eclipse specific files
.classpath
.project
.settings/

# Maven specific files (if using Maven)
pom.xml~
target/

# Gradle specific files (if using Gradle)
.gradle/
build/
bin/
*.jar
*.war
*.ear

# Temporary files
*.log
*.tmp
*.swp
*.swo

# IDE-specific files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db
